<div class="container">
  <div class="row mb-3">
    <div class="col-md-12 d-flex align-items-center justify-content-between">
      <h1>
        <%= @the_board.name %>
      </h1>

      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#form_modal">
        Add a new post
      </button>
    </div>

    <div class="modal fade" id="form_modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/insert_post" method="post">
              <div>
                <label for="title_box">
                  Title
                </label>

                <input type="text" id="title_box" name="query_title">
              </div>
            </div>

            <div>
              <label for="body_box">
                Body
              </label>

              <textarea id="body_box" name="query_body" rows="3"></textarea>
            </div>

            <div>
              <label for="expires_on_box">
                Expires on
              </label>

              <input type="date" id="expires_on_box" name="query_expires_on">
            </div>

            <input type="hidden" id="board_id_box" name="query_board_id" value="<%= @the_board.id %>">

            <button>
              Add post
            </button>
          </form>
          </div>
        </div>
      </div>
    </div>

<h2>Active posts</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>

  <% @active_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
</table>

<h2>Expired posts</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expired on</th>
  </tr>

  <% @expired_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
</table>
</div>
